/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES*/
:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 62.5%;

  /*Colors*/
  --color-primary: #8447e9;
  --color-secondary: #fff;
  --color-secondary-variant: #f5f5f5;
  --color-tertiary: #000;
  --color-tertiary-variant: #0f0f0f;
  --color-text: #3f3f3f;
  --color-fourth: #bdb0ec;
  /* Font weight*/
  --montserrat-medium: 500;
  --montserrat-semibold: 600;
  --roboto-bold: 700;
}

html {
  scroll-behavior: smooth;
}

/*******HEADER********/
/* Susana */
.header {
  position: fixed; /*header fijado*/
  display: flex; /*contenedor flexible para modificar contenido*/
  width: 100%; /*Ocupa el ancho de la página*/
  justify-content: space-between; /*Reparte el contenido espaciado*/
  padding: 3.5rem; /*espacio entre el borde y el contenido*/
  z-index: 2; /*se superpone por encima de todo*/
  height: auto; /*se mueve libremente*/
  background-color: var(
    --color-secondary
  ); /*color establecido para el fondo del header*/
  top: 0; /*el header queda fijado arriba de la página, aún haciendo scroll*/
}

.logo {
  color: var(--color-primary); /*color establecido al logo*/
  font-size: 3rem; /*tamaño fuente del logo*/
  font-weight: var(--montserrat-semibold);
}

.menu-icon {
  display: flex; /*contenedor flexible para modificar el elemento*/
  flex-direction: column; /*ordena los span en columna*/
  justify-content: space-between; /*deja un espacio entre los span verticalmente*/
  width: 3rem; /*ancho*/
  height: 1.8rem; /*alto*/
  cursor: pointer; /*sombreado al pulsar*/
  margin: 1rem; /*margen*/
}

.menu-icon span {
  height: 0.3rem; /*alto del color del span*/
  width: 100%; /*ancho del color del span*/
  background-color: var(--color-primary); /*color del span*/
}

.links {
  display: none; /*enlaces del desplegable ocultos*/
}

.contact-link {
  display: none; /*enlace de contacto oculto*/
}
/*******HERO********/
/* Jennifer */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 6.3rem;
  margin-top: 15rem;
}

.hero-container-title {
  display: none;
}

.hero-title {
  font-size: 6.2rem;
  font-weight: var(--montserrat-semibold);
  color: var(--color-tertiary-variant);
  margin-top: 1.96rem;
  margin-bottom: 1.33rem;
}

.hero-title span {
  color: var(--color-primary);
}

.hero-button {
  background-color: var(--color-primary);
  color: var(--color-secondary-variant);
  padding: 2rem;
  border: none;
  font-weight: var(--montserrat-medium);
}

.hero-subtitle {
  font-size: 4rem;
  font-weight: var(--montserrat-medium);
  display: none;
  margin-top: 1.32rem;
}

.hero-articles {
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
  margin-bottom: 0.9rem;
  padding-top: 2.3rem;
  padding-bottom: 5.5rem;
  gap: 4rem;
}

.hero-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2.3rem;
}

.hero-container-image {
  height: 14.4rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.programming {
  background-image: url("../img/hero-programing.png");
  background-repeat: no-repeat;
}

.marketing {
  background-image: url("../img/hero_marketing.png");
  background-repeat: no-repeat;
}

.design {
  background-image: url("../img/hero_design.png");
  background-repeat: no-repeat;
}

.hero-title-img {
  font-size: 3.2rem;
  font-weight: var(--montserrat-medium);
  color: var(--color-primary);
  margin-block: 1rem;
}

.hero-parrafo {
  font-size: 1.6rem;
  color: var(--color-text);
  display: none;
}

.hero-read-more {
  font-size: 1.6rem;
  font-weight: var(--montserrat-medium);
  text-decoration: underline wavy var(--color-primary);
  /* Línea ondulada*/
  text-underline-offset: 1rem;
  /* separación entre texto y subrayado */
  text-decoration-thickness: 0.05rem;
  /* grosor de la línea */
}

/*******PROJECT********/
/* Mechi */
.projects {
  background-color: var(--color-primary);
  background-attachment: fixed; /* esto esta bien?*/
  overflow: hidden; /* esto es para evitar scroll?*/
  width: 100%;
}

.projects-container {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 100%;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}

.projects-title {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 1.2rem;
  display: flex;
  margin-top: 7rem;
  margin-bottom: 5rem;
  margin-inline: 7.4rem;
  font-weight: var(--montserrat-medium);
}

.projects-parrafo {
  display: none;
}

.projects-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.projects-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-text-line {
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.projects-images-title {
  font-size: 2rem;
  font-weight: var(--montserrat-medium);
}

.projects-container-img {
  width: 80%;
  margin: 0 auto;
}

.projects-img {
  width: 100%;
}
.projects-images-text {
  color: var(--color-fourth);
}
.projects-button {
  display: flex;
  justify-content: center;
  margin-block: 3.8rem;
}
.projects-text-button {
  background-color: var(--color-primary);
  color: var(--color-secondary-variant);
  padding: 2rem;
  border: 1px solid var(--color-secondary);
  font-weight: var(--montserrat-medium);
}

/*******NEWS********/
/* Mari */
.news {
  margin-top: 9.3rem;
  margin-left: 0.1rem;
  padding-inline: 3.8rem;
  width: 100vw;
}
.news-title {
  font-size: 4rem;
  font-weight: var(--montserrat-medium);
  padding-block: 3rem;
  margin-bottom: 1.49rem;
}
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.news-img {
  width: 100%;
}
.news-paragraph {
  font-size: 2.4rem;
  text-align: center;
  font-weight: var(--montserrat-medium);
  text-wrap: balance;
}
.news-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 0.1rem var(--color-primary) solid;
  display: inline-block;
  padding-inline: 2rem;
  padding-block: 2rem;
  width: 20rem;
  font-size: 1.8rem;
}
.news-3-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*******LIST********/
/* Susana */
.list {
  position: relative; /*el contenedor list queda en el sitio estipulado sin moverse*/
  background-image: url("/img/list-background.jpg"); /*imagen de fondo de la sección*/
  background-size: cover; /*la imagen rellena el fondo*/
  background-position: center; /*la imagen se centra*/
  display: flex; /*contenedor flexible para modificar contenido*/
  align-items: center; /*centra todos los elementos verticalmente*/
  justify-content: center; /*centra todos los elementos horizontalmente*/
  z-index: 1; /*?*/
  color: var(--color-secondary-variant); /*color establecido para el texto*/
  text-align: center; /*texto en el centro*/
  width: 100%; /*Ocupa el ancho de la página, posible cambio de eliminar?*/
  margin-top: 1.7rem; /*margen desde arriba posible cambio de eliminar?*/
  min-height: 35rem; /*?*/
}

.list::before {
  /*elemento para sombreado*/
  content: ""; /*aplica al contenido para el sombreado*/
  position: absolute; /*?*/
  inset: 0; /*ocupa todo el espacio del elemento*/
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /*color de fondo para el sombreado de la imagen*/
  z-index: -1; /*?*/
}

/* Contiene el texto y el botón */
.footer-project-list {
  display: flex; /* Para poder posicionar los 2 elementos*/
  flex-direction: column; /* Para poner uno debajo de otro*/
  padding-top: 8rem; /*espacio entre borde y contenido por arriba*/
  padding-bottom: 11rem; /*espacio entre borde y contenido por abajo*/
}

.span-list {
  font-size: 7.2vw; /*tamaño fuente*/
}

/* Botón ocultado en mobile*/
.info-contact {
  display: none;
}

/*******FOOTER********/
/* Ahora contiene 2 elementos la seccion de list y la seccion negra*/
.footer {
  display: flex; /* Para poder posicionarlos*/
  flex-direction: column; /* Para ponerlos uno debajo de otro*/
  align-items: center; /* Para centrar la imagen horizontalmente*/
}

/* Seccion negra que contiene AdaDev y links*/
.footer-black {
  width: 100%;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

/* AdaDev del footer*/
.footer-text {
  font-size: 6.4rem;
  font-family: "Roboto";
  font-weight: var(--roboto-bold);
  padding-top: 10rem;
  padding-left: 3rem;
  padding-bottom: 8rem;
}

/* Ocultamos los links en mobile*/
.footer-links {
  display: none;
}

/*********MEDIA-QUERIES********/

@media (width >768px) {
  /* Susana */
  /*HEADER*/
  .header {
    padding: 1.5rem; /*espacio entre el borde y el contenido*/
  }
  .menu-icon {
    display: none; /*oculto el desplegable que contiene los enlaces*/
  }

  .links {
    font-size: 1.6rem; /*tamaño fuente*/
    display: flex; /*contenedor flexible*/
    justify-content: space-between; /*Reparte el contenido espaciado*/
    align-items: center; /*centra todos los elementos en vertical*/
  }

  .links ul {
    display: flex; /*contenedor flexible*/
    list-style: none; /*quita los puntos de la lista*/
    gap: 3rem; /*separación de los elementos*/
  }

  .links a {
    color: var(--color-tertiary-variant); /*color de los enlaces*/
    font-weight: var(--montserrat-medium);
    cursor: pointer; /*cambia el cursor por una mano*/
    text-decoration:none;
  }

  .links .home-link {
    color: var(--color-primary); /*color establecido para el enlace home*/
  }

  .links ul a:hover {
    color: var(
      --color-primary
    ); /*color establecido para que cambie al pasar el cursor por los enlaces*/
  }

  .contact-link {
    display: inline-block; /*se coloca en linea junto con el resto de elementos*/
    justify-self: end; /*alinea el contenido desde la derecha*/
    background-color: var(--color-primary); /*color de fondo del texto*/
    color: var(--color-secondary); /*color establecido para el texto*/
    padding: 1.2rem 2.4rem; /*espacio entre el borde y el contenido*/
    font-size: 1.6rem; /*tamaño fuente del texto*/
    font-weight: var(--montserrat-medium);
    cursor: pointer; /*cambia el cursor por una mano*/
    text-decoration: none; /*quita una linea blanca debajo del texto*/
  }

  /* Jennifer */
  .hero-container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9rem;
  }

  .hero-title {
    display: inline-block;
  }

  .underline {
    background-image: url("../img/wavy.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 19rem;
    height: 2.7rem;
    position: absolute;
    margin-top: 10.6rem;
    margin-left: 25rem;
  }

  .hero-subtitle {
    display: inline-block;
    margin-block: 13.2rem;
  }

  .hero-articles {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 3rem;
    padding-inline: 4rem;
  }

  .hero-parrafo {
    display: inline-block;
    max-width: 30rem;
  }

  .hero-read-more {
    padding-block: 1.5rem;
  }

  /* Mechi */
  /* Section project*/
  .projects-title {
    padding-inline: 0.4rem;
  }
  .projects-parrafo {
    font-size: 2.5rem;
    color: var(--color-secondary-variant);
    display: inline-block;
    padding-inline: 7rem;
  }
  .projects-wavy {
    text-decoration: underline wavy var(--color-fourth);
    text-underline-offset: 1rem;
  }

  .projects-images {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .projects-section {
    width: 43%;
  }
  .projects-button {
    display: block;
    padding-left: 14.1rem;
  }

  /* Section footer*/
  .footer {
    position: relative; /* Para que muestre list y ésta se posicione con respecto a él*/
  }

  .list {
    position: absolute; /* Para poder posicionarla con referencia al footer*/
    height: 40rem; /*altura*/
    width: 85%; /* Le damos menos ancho para que no ocupe toda la pantalla*/
    bottom: 40rem; /* Para empujarlo hacia arriba con respecto al final del footer */
  }

  .span-list {
    font-size: 4.2vw; /*tamaño fuente del texto*/
    padding: 5rem, 0; /*espacio entre el borde del span y el contenido*/
    margin-left: 0.5rem; /*margen desde la izquierda*/
    margin-right: 0.5rem; /*margen desde la derecha*/
  }

  /* botón*/
  .info-contact {
    display: inline-block;
    color: var(--color-secondary-variant);
    font-size: 2rem;
    background-color: var(
      --color-primary
    ); /* Usamos las variables del root para los colores*/
    text-decoration: none;
    margin-top: 5.8rem;
    margin-inline: auto; /* Margen lateral auto, de esta manera le da el mismo espacio a los dos lados*/
    padding: 2rem 4.9rem;
    z-index: 1;
  }

  /* section black*/
  .footer-black {
    display: flex; /* Para poder posicionar los elementos*/
    flex-direction: row; /* Para que los ponga en fila*/
    align-items: center; /* Para que los centre verticalmente*/
    justify-content: space-around; /* Para que los separe a lois laterales dejandoles un espacio con el magen de la pantalla*/
    height: 57rem; /* Le damos una altura fija para que se vea bien la imagen de fondo*/
    background-color: transparent; /* Le quitamos el color de fondo que tenia en mobile*/
    background-image: url("../img/svg.svg"); /* Le asignamos la imagen como fondo*/
    background-repeat: no-repeat; /* Le decimos que no repita aunque el ancho sea más grande que el ancho de la imagen*/
    background-size: cover; /* Cubre todo el contenedor*/
  }

  .footer-text {
    padding-left: 0rem; /* Le quitamos el left que tenia en mobile*/
  }

  .footer-links {
    display: flex; /* Para poder posicionarlos*/
    gap: 6rem; /* Espacio entre ellos*/
    font-size: 2.4rem;
  }

  .footer-links a {
    text-decoration: none; /* Le quitamos el subrayado*/
    color: var(
      --color-secondary-variant
    ); /* Le asignamos el color de la variable*/
  }

  /* Mari */
  .news {
    margin-top: 8.8rem;
    margin-left: 0.8rem;
    padding-left: 7rem;
    margin-right: 6.2rem;
    margin-bottom: 30rem;
  }
  .news-3-noticias {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 2rem;
  }
  .news-container {
    width: 30%;
  }
  .news-paragraph {
    margin-bottom: 8.8rem;
  }
  .news-button-section {
    display: block;
    margin-bottom: 8.8rem;
  }
}
