/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*******HEADER********/
/* Susana */



/*******HERO********/
/* Jennifer */




/*******PROJECT********/
/* Mechi */





/*******NEWS********/
/* Mari */





/*******LIST********/
/* Susana */




/*******FOOTER********/
/* Mechi */