/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES*/
:root {

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 62.5%;

  /*Colors*/
  --color-primary: #8447e9;
  --color-secondary: #fff;
  --color-secondary-variant:#f5f5f5;
  --color-tertiary: #000;
  --color-tertiary-variant: #0f0f0f;
  --color-text: #3f3f3f;
   /* Font weight*/
   --montserrat-medium: 500;
   --montserrat-semibold: 600;
   --roboto-bold: 700;
}

/*******HEADER********/
/* Susana */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.logo {
  color: var(--color-primary);
  font-size: 300%;
  font-weight: 600;
}

.menu-icon {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3em;
  height: 2em;
}

.menu-icon span {
  display: block;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 2px;
}

/*******HERO********/
/* Jennifer */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 6.3rem;
}

.hero-container-title{
 display: none;
}


.hero-title {
  font-size: 6.2rem;
  color: var(--color-tertiary-variant );
  margin-top: 1.96rem;
  margin-bottom: 1.33rem;
}

.hero-title span {
  color: var(--color-primary);
}

.hero-button {
  background-color: var(--color-primary);
  color: var(--color-secondary-variant);
  padding: 20px;
  border: none;
}

.hero-subtitle {
  font-size: 4rem;
  display: none;
  margin-top: 1.32rem;
}

.hero-articles {
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
  margin-bottom: 0.9rem;
  padding-top: 2.3rem;
  padding-bottom: 5.5rem;
  gap: 4rem;
}

.hero-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2.3rem;
}

.hero-container-image {
  height: 14.4rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.hero-img {
  height: 100%; /* se adapta al alto del contenedor */
  width: auto; /* ocupa el anchoi necesario */
  object-fit: cover; /* rellena el espacio sin deformarse */
  object-position: center; /* centra la parte visible */
  display: block;
}

.hero-title-img {
  font-size: 3.2rem;
  color: var(--color-primary);
  margin-block: 1rem;
}

.hero-parrafo {
  font-size: 1.6rem;
  color: var(--color-text);
  display: none;
}

.hero-read-more {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline wavy var(--color-primary); /* Línea ondulada*/
  text-underline-offset: 1rem; /* separación entre texto y subrayado */
  text-decoration-thickness: 0.05rem; /* grosor de la línea */
}

/*******PROJECT********/
/* Mechi */
.projects{
  background-color: #8447e9;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
}
.projects-container{
  background-color: #8447e9;
  color: white;
  width: 100%;
  margin-top: 20;
  margin-left: 30px;
  margin-bottom: 15px;  
}
.projects-title{
  background-color: #8447e9;
  color: white;
  font-size: 10px;
  display: flex;
  margin-block: 30px;
}
.projects-parrafo{
  color: white;
  display: none;
}
.projects-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-images-blvck{
  max-width: 522px;
  max-height: 341px;
  margin-bottom: 10px;
}
.projects-images-cream{
  max-width: 522px;
  max-height: 341px;
  margin-bottom: 10px;
}
.projects-images-fredi{
  max-width: 522px;
  max-height: 341px;
  margin-bottom: 10px;
}
.projects-images-apollo{
  max-width: 522px;
  max-height: 341px;
  margin-bottom: 10px;
}
.projects-text-line{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
@media screen and (min-width:768px) {
  .projects-parrafo{
    display: inline-block;
  }
  
}
/*******NEWS********/
/* Mari */
news {
  margin-top: 9.3rem;
  margin-left: 0.1rem;
  padding-inline: 3.8rem;
  width: 100vw;
}
.news-title {
  font-size: 4rem;
}
.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.news-img {
  width: 100%;

}
.news-paragraph {
  font-size: 2.4rem;
  text-align: center;
  gap: 3rem;
}
.news-button {
  background-color: #fff;
  color: var(--color-primary);
  border: 0.1rem var(--color-primary) solid;
  display: inline-block;
  padding-inline: 2rem;
  padding-block: 2rem;
  width: 20rem;
  font-size: 1.8rem;
  margin-bottom: 0g;
}
/*******LIST********/
/* Susana */

/*******FOOTER********/
/* Mechi */


/*********MEDIA-QUERIES********/
@media (width >768px) {
/* Susana */
.menu-icon {
  display: none;
}

/* Jennifer */
  .hero-container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-title {
    display: inline-block;
  }
  .underline {
    display: inline-block;
    margin-left: 20rem;
    width: 15vw;
    margin-bottom: 10rem;
  }

  .hero-subtitle {
    display: inline-block;
    margin-block: 13.2rem;
  }

  .hero-articles {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 3rem;
    padding-inline: 4rem;
  }
  .hero-parrafo {
    display: inline-block;
    max-width: 30rem;
  }

  .hero-read-more {
    padding-block: 1.5rem;
  }


  /* Mechi */



  /* Mari */
}
